

.fave-slide-header {
  background-color: #ffe5ec;
  position: relative;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #ffaec3;
  top: -30px;
  height: 450px;
  box-shadow: 3px -9px 18px #888888;

}

img {
  height: 250px;
  weight: 250px;
}

    .slider {
        width: 97%;
        margin: 0px auto;
        padding: 50px;
    }

    .slick-slide {
      margin: 40px 20px;
    }

    .slick-slide img {
      margin-right: 15px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 0.2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }  

.slick-center img {
  transform: scale(1.1);
}



p {
  color:  #CC8B9C;
  height: -40px;

}

h2 {
  height: 36px;
  text-shadow: 1px 1px #a89a9e;

}

