.site-footer {
  padding: 1rem 0 3.5rem 0;
  background-color: #fbbdc7;
  position: inherit;

  p {
    font-size: .9rem;
  }

  .headline {
    color: #FFF;
    margin-bottom: .33rem;
  }

  &__link {
    color: #999;
    text-decoration: none;
  }

  &__link:hover {
  text-shadow: 1px 1px #806e73;

  }

  &__inner {
    border-top: 1px dotted #DEDEDE;
    padding-top: 3.5rem;
  }

  &__col-one {
    text-align: center;
    @mixin atMedium {
      width: 33%;
      float: left;
    }
  }

  &__col-two-three-group {
    text-align: center;
    width: 17%;
    margin: 0 auto;
    @mixin atMedium {
      text-align: left;
      float: left;
      width: 16%;
      margin: 0;
    }
  }

  &__col-two {
    width: 50%;
    float: left;
  }
  &__col-three {
    width: 50%;
    float: left;
  }
  &__col-four {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
    clear: both;
    text-align: center;
    @mixin atMedium {
      padding-top: 0;
      margin: 0;
      clear: none;
      text-align: left;
      width: 25%;
      float: left;
    }
  }
}